In [3]:
from clickhouse_driver import Client
import pandas as pd 
import numpy as np

In [4]:
client = Client(host = 'live.primedata.ai',
                client_name = 'python-driver',
                port = 9000,
                user='datacracy',
                password='G2Cfaz8psF',
                secure=False,
                verify=False,
                database = 'eventify_stag',
                settings={'use_numpy': True}
               )

# Query transaction

In [5]:
transaction_1_20 = client.query_dataframe(
    "select anonymous_id,at,"
    #get all num
    "`num_properties.vals`[indexOf(`num_properties.keys`,'properties.gia_ban')] as gia_ban,"
    "`num_properties.vals`[indexOf(`num_properties.keys`,'properties.tien_kh_nop')] as tien_kh_nop,"
    "`num_properties.vals`[indexOf(`num_properties.keys`,'properties.t_tien_sau_ck')] as t_tien_sau_ck,"
    "`num_properties.vals`[indexOf(`num_properties.keys`,'properties.tien_ck_voucher')] as tien_ck_voucher,"
    "`num_properties.vals`[indexOf(`num_properties.keys`,'properties.tien_ck_voucher_tm')] as tien_ck_voucher_tm,"
    "`num_properties.vals`[indexOf(`num_properties.keys`,'properties.tien_voucher')] as tien_voucher,"
    "`num_properties.vals`[indexOf(`num_properties.keys`,'properties.ck')] as ck,"
    "`num_properties.vals`[indexOf(`num_properties.keys`,'properties.pt_ck')] as pt_ck,"
    "`num_properties.vals`[indexOf(`num_properties.keys`,'properties.pt_ck_dh')] as pt_ck_dh,"
    "`num_properties.vals`[indexOf(`num_properties.keys`,'properties.so_luong')] as so_luong,"
    "`num_properties.vals`[indexOf(`num_properties.keys`,'properties.phi_vc')] as phi_vc,"
    #get all string
    "`str_properties.vals`[indexOf(`str_properties.keys`,'properties.stt_rec')] as stt_rec,"
    "`str_properties.vals`[indexOf(`str_properties.keys`,'properties.ten_tinh')] as tinh,"
    "`str_properties.vals`[indexOf(`str_properties.keys`,'properties.gender')] as gender,"
    "`str_properties.vals`[indexOf(`str_properties.keys`,'properties.nguon_dh')] as nguon_dh,"
    "`str_properties.vals`[indexOf(`str_properties.keys`,'properties.ten_nhvt3')] as ten_nhvt1,"
    "`str_properties.vals`[indexOf(`str_properties.keys`,'properties.ten_nhvt3')] as ten_nhvt3,"
    "`str_properties.vals`[indexOf(`str_properties.keys`,'properties.ma_ct_km')] as ma_ct_km,"
    "`str_properties.vals`[indexOf(`str_properties.keys`,'properties.ten_ct_km')] as ten_ct_km,"
    "`str_properties.vals`[indexOf(`str_properties.keys`,'properties.nh_dvcs1')] as nh_dvcs1,"
    "`str_properties.vals`[indexOf(`str_properties.keys`,'properties.nh_dvcs2')] as nh_dvcs2,"
    "`str_properties.vals`[indexOf(`str_properties.keys`,'properties.nh_dvcs3')] as nh_dvcs3 "
    "from events "
    "where event_name = 'erp_item_order_completed' "
    "and at >= toDateTime('2020-01-01 00:00:00') AND at <= toDateTime('2020-01-31 00:00:00')")
transaction_1_20

,anonymous_id,at,gia_ban,tien_kh_nop,t_tien_sau_ck,tien_ck_voucher,tien_ck_voucher_tm,tien_voucher,ck,pt_ck,...,tinh,gender,nguon_dh,ten_nhvt1,ten_nhvt3,ma_ct_km,ten_ct_km,nh_dvcs1,nh_dvcs2,nh_dvcs3
0,1tjOqOrhk9dtAAGEQ7Iy1RfYfIA,2020-01-20 22:18:07,75000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,Hà Nội,,,Tất công sở,Tất công sở,CTBL200020,SR CTKM tặng 4 đôi Tất cho 1200K/bill từ 17/01...,SRMB,KSR,DQMB
1,1tjOqOrhk9dtAAGEQ7Iy1RfYfIA,2020-01-20 22:18:07,695000.0,695000.0,695000.0,0.0,0.0,0.0,0.0,0.0,...,Hà Nội,,,Quần khaki,Quần khaki,,,SRMB,KSR,DQMB
2,1tjOqOrhk9dtAAGEQ7Iy1RfYfIA,2020-01-20 22:18:07,695000.0,695000.0,695000.0,0.0,0.0,0.0,0.0,0.0,...,Hà Nội,,,Quần khaki,Quần khaki,,,SRMB,KSR,DQMB
3,1ucePqIA36XL1lIEPclHFcz0Cw4,2020-01-20 15:14:45,750000.0,750000.0,750000.0,0.0,0.0,0.0,0.0,0.0,...,Quảng Bình,,,Sơ mi dài tay size số,Sơ mi dài tay size số,,,SRMN,KSR,KQMN
4,1ucePqIA36XL1lIEPclHFcz0Cw4,2020-01-20 15:14:45,695000.0,695000.0,695000.0,0.0,0.0,0.0,0.0,0.0,...,Quảng Bình,,,Sơ mi dài tay size số,Sơ mi dài tay size số,,,SRMN,KSR,KQMN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60766,1uz83cDWwWrM72YuRzqyx9iIM5v,2020-01-12 16:39:28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,Quảng Ngãi,,,Phụ liệu (size NPL),Phụ liệu (size NPL),,,SRMN,KSR,DQMN
60767,1uz83jKcx6l0mDFz3UYSfVqwHzS,2020-01-12 16:39:28,195000.0,195000.0,195000.0,0.0,0.0,0.0,0.0,0.0,...,Quảng Ngãi,,,Caravat,Caravat,,,SRMN,KSR,DQMN
60768,1uz8581UXkthypzLjQ8haLD6DIQ,2020-01-12 20:09:28,795000.0,795000.0,795000.0,0.0,0.0,0.0,0.0,0.0,...,Hà Nội,,,Sơ mi dài tay size số,Sơ mi dài tay size số,,,SRMB,KSR,DQMB
60769,1uz884XB70g9JDXdjdc0OSTfDej,2020-01-12 16:39:28,595000.0,595000.0,595000.0,0.0,0.0,0.0,0.0,0.0,...,Quảng Ngãi,,,Sơ mi dài tay size số,Sơ mi dài tay size số,,,SRMN,KSR,DQMN
60770,1uz887gO8GjGNr8gQzQFFEChaWn,2020-01-12 16:39:28,3950000.0,3950000.0,3950000.0,0.0,0.0,0.0,0.0,0.0,...,Quảng Ngãi,,,Suits,Suits,,,SRMN,KSR,DQMN

# segment

In [6]:
#1/2020
RFM_1 = client.query_dataframe(
    "SELECT anonymous_id,"
    "sum(`num_properties.vals`[indexOf(`num_properties.keys`,'properties.total_value')]) as m,"
    "count() as f,"
    "dateDiff('day', toDateTime(max(at)), toDateTime('2020-01-31 23:59:59')) AS r " 
    "FROM events "
    "WHERE event_name = 'erp_order_completed' and "
    "at >= toDateTime('2020-01-01 00:00:01') AND at <= toDateTime('2020-01-31 23:59:59') "
    "and tenant_id = tenant_id GROUP BY anonymous_id")
RFM_1

                      anonymous_id          m  f   r
0      1ugcX1RMUp6ZwJDyJpTVflvnDvF  1545000.0  1  11
1      1ugapnpgMt03WhMPBEh1GFIXmCf   695000.0  1  17
2      1ugbWGL4VNvrKTG1IgMiA77FPEQ   450000.0  1  14
3      1ucqaNqvi8KgpBrrSYUIsMLWrbL  1960000.0  1  12
4      1ugbzoutaScdB2YcmZmUpcn2rDe  1975000.0  1  13
...                            ...        ... ..  ..
18425  1uceQujC8xmxQ9S7pWpKSq0RYVq  1390000.0  1  29
18426  1ugbgQKvHgk3WbNN5n9LZWKdKAm  1895000.0  1  13
18427  1ufRaiqjsLoIBwvW4QK6bpXa79D  1250000.0  2  28
18428  1udabKd8MdhqoY7rcPU1lZ7fOVq   100000.0  1  13
18429  1uge9d4cgbIXOP0swfvd3jInMwr  1280000.0  2   8

[18430 rows x 4 columns]

In [7]:
# Tạo segment cho RFM_1
def segment(df):
    descriptive = df.describe() #get quartile
    #monetary
    min_m = descriptive['m'][3]
    m1 = descriptive['m'][4]
    m2 = descriptive['m'][5]
    m3 = descriptive['m'][6]
    max_m = descriptive['m'][7]
    #frequency
    min_f = descriptive['f'][3]
    f1 = descriptive['f'][4]
    f2 = descriptive['f'][5]
    f3 = descriptive['f'][6]
    max_f = descriptive['f'][7]
    #recency
    min_r = descriptive['r'][3]
    r1 = descriptive['r'][4]
    r2 = descriptive['r'][5]
    r3 = descriptive['r'][6]
    max_r = descriptive['r'][7]
    f_q = []
    r_q = []
    m_q = []
    for i in df.f: #check quartile of frequency
        if (i >= min_f) & (i <= f1):
            i = 4
        elif (i > f1)&(i <= f2):
            i = 3
        elif (i > f2)&(i <= f3):
            i = 2
        elif (i > f3)&(i <= max_f):
            i = 1 
        f_q.append(i) #thêm vào list f_q
    for x in df.r: #check quartile of recency
        if (x >= min_r) & (x <= r1):
            x = 1
        elif (x > r1)&(x <= r2):
            x = 2
        elif (x > r2)&(x <= r3):
            x = 3
        elif (x > r3)&(x <= max_r):
            x = 4
        r_q.append(x)
    for u in df.m: #check quartile of monetary value
        if (u >= min_m) & (u <= m1):
            u = 4
        elif (u > m1)&(u <= m2):
            u = 3
        elif (u > m2)&(u <= m3):
            u = 2
        elif (u > m3)&(u <= max_m):
            u = 1
        m_q.append(u)
    df['r_q'] = r_q #create column and add list 
    df['m_q'] = m_q
    df['f_q'] = f_q
    #create rank
    rank = []
    for (i1,i2,i3) in zip(df.r_q,df.f_q,df.m_q):
        rank.append(str(i1)+str(i2)+str(i3))
    df['rank'] = rank
    #create check rank
    check = []
    for i in rank: #check rank for next step  
        if (i=='111') or (i == '311') or (i == '411') or (i == '444'):
            i = 1
        else:
            i = 0
        check.append(i)
    df['check'] = check
    #create segment: RFM
    #111: Những khách hàng đã mua gần đây nhất và thường xuyên nhất và chi tiêu nhiều nhất.
    #XX1: Những khách hàng đã chi tiêu nhiều nhất.
    #X1X: Những khách hàng đã mua thường xuyên nhất.
    #1XX: Những khách hàng đã mua hàng gần đây.
    #311: Những khách hàng đã không mua trong một thời gian, nhưng trước đây họ đã mua hàng thường xuyên và chi tiêu nhiều nhất.
    #411: Những khách hàng đã mua trong một thời gian rất dài, nhưng trước đây họ đã mua hàng thường xuyên và chi tiêu nhiều nhất.
    #444: Những khách hàng đã mua trong một thời gian rất dài, có thể đã mua một lần và chi tiêu ít nhất.
    #other: other
    
    #create column segment
    segment = [] 
    for (i,x) in zip(df['rank'],df['check']):
        if i == '111':
            s = 'champion'
        elif i == '311':
            s = 'at_risk'
        elif i == '411':
            s = 'lost_customer'
        elif i == '444':
            s = 'lost_inconsequential_customers'
        elif (i[2] == '1') & (x == 0):
            s = 'big_spender'
        elif (i[1] == '1') & (x == 0):
            s = 'loyal_customer'
        elif (i[0] == '1') & (x == 0):
            s = 'recent_customer'
        else:
            s = 'other'
        segment.append(s)
    df['segment'] = segment
    return df

In [8]:
#tạo ra rank và segment.
RFM_1 = segment(RFM_1)
RFM_1

,anonymous_id,m,f,r,r_q,m_q,f_q,rank,check,segment
0,1ugcX1RMUp6ZwJDyJpTVflvnDvF,1545000.0,1,11,2,2,4,242,0,other
1,1ugapnpgMt03WhMPBEh1GFIXmCf,695000.0,1,17,3,4,4,344,0,other
2,1ugbWGL4VNvrKTG1IgMiA77FPEQ,450000.0,1,14,3,4,4,344,0,other
3,1ucqaNqvi8KgpBrrSYUIsMLWrbL,1960000.0,1,12,2,1,4,241,0,big_spender
4,1ugbzoutaScdB2YcmZmUpcn2rDe,1975000.0,1,13,2,1,4,241,0,big_spender
...,...,...,...,...,...,...,...,...,...,...
18425,1uceQujC8xmxQ9S7pWpKSq0RYVq,1390000.0,1,29,4,2,4,442,0,other
18426,1ugbgQKvHgk3WbNN5n9LZWKdKAm,1895000.0,1,13,2,1,4,241,0,big_spender
18427,1ufRaiqjsLoIBwvW4QK6bpXa79D,1250000.0,2,28,4,2,1,412,0,loyal_customer
18428,1udabKd8MdhqoY7rcPU1lZ7fOVq,100000.0,1,13,2,4,4,244,0,other
18429,1uge9d4cgbIXOP0swfvd3jInMwr,1280000.0,2,8,1,2,1,112,0,loyal_customer

In [9]:
# tạo date cho segment
RFM_1['at'] = '01-2020'

In [10]:
#xóa đi các cột không cần thiết 
def segment_drop(data,dates):
    new_df = data[data['at'] == dates]
    new_df = new_df[['anonymous_id','rank','segment']]
    return new_df

In [11]:
#Tạo biến mới đã drop 
RFM_1_drop = segment_drop(RFM_1,'01-2020')
RFM_1_drop

                      anonymous_id rank         segment
0      1ugcX1RMUp6ZwJDyJpTVflvnDvF  242           other
1      1ugapnpgMt03WhMPBEh1GFIXmCf  344           other
2      1ugbWGL4VNvrKTG1IgMiA77FPEQ  344           other
3      1ucqaNqvi8KgpBrrSYUIsMLWrbL  241     big_spender
4      1ugbzoutaScdB2YcmZmUpcn2rDe  241     big_spender
...                            ...  ...             ...
18425  1uceQujC8xmxQ9S7pWpKSq0RYVq  442           other
18426  1ugbgQKvHgk3WbNN5n9LZWKdKAm  241     big_spender
18427  1ufRaiqjsLoIBwvW4QK6bpXa79D  412  loyal_customer
18428  1udabKd8MdhqoY7rcPU1lZ7fOVq  244           other
18429  1uge9d4cgbIXOP0swfvd3jInMwr  112  loyal_customer

[18430 rows x 3 columns]

In [12]:
#merge 2 dataframe
def merge(df1,df2):
    mer = pd.merge(df1,df2,how = 'left',on = 'anonymous_id')
    return mer

In [15]:
#merge transaction và segment để lấy rank và segment của từng user trong dataframe segment vào transaction
transaction_1_20_merge = merge(transaction_1_20,RFM_1_drop)
transaction_1_20_merge

,anonymous_id,at,gia_ban,tien_kh_nop,t_tien_sau_ck,tien_ck_voucher,tien_ck_voucher_tm,tien_voucher,ck,pt_ck,...,nguon_dh,ten_nhvt1,ten_nhvt3,ma_ct_km,ten_ct_km,nh_dvcs1,nh_dvcs2,nh_dvcs3,rank,segment
0,1tjOqOrhk9dtAAGEQ7Iy1RfYfIA,2020-01-20 22:18:07,75000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,,Tất công sở,Tất công sở,CTBL200020,SR CTKM tặng 4 đôi Tất cho 1200K/bill từ 17/01...,SRMB,KSR,DQMB,242,other
1,1tjOqOrhk9dtAAGEQ7Iy1RfYfIA,2020-01-20 22:18:07,695000.0,695000.0,695000.0,0.0,0.0,0.0,0.0,0.0,...,,Quần khaki,Quần khaki,,,SRMB,KSR,DQMB,242,other
2,1tjOqOrhk9dtAAGEQ7Iy1RfYfIA,2020-01-20 22:18:07,695000.0,695000.0,695000.0,0.0,0.0,0.0,0.0,0.0,...,,Quần khaki,Quần khaki,,,SRMB,KSR,DQMB,242,other
3,1ucePqIA36XL1lIEPclHFcz0Cw4,2020-01-20 15:14:45,750000.0,750000.0,750000.0,0.0,0.0,0.0,0.0,0.0,...,,Sơ mi dài tay size số,Sơ mi dài tay size số,,,SRMN,KSR,KQMN,241,big_spender
4,1ucePqIA36XL1lIEPclHFcz0Cw4,2020-01-20 15:14:45,695000.0,695000.0,695000.0,0.0,0.0,0.0,0.0,0.0,...,,Sơ mi dài tay size số,Sơ mi dài tay size số,,,SRMN,KSR,KQMN,241,big_spender
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60766,1uz83cDWwWrM72YuRzqyx9iIM5v,2020-01-12 16:39:28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,,Phụ liệu (size NPL),Phụ liệu (size NPL),,,SRMN,KSR,DQMN,NaN,NaN
60767,1uz83jKcx6l0mDFz3UYSfVqwHzS,2020-01-12 16:39:28,195000.0,195000.0,195000.0,0.0,0.0,0.0,0.0,0.0,...,,Caravat,Caravat,,,SRMN,KSR,DQMN,NaN,NaN
60768,1uz8581UXkthypzLjQ8haLD6DIQ,2020-01-12 20:09:28,795000.0,795000.0,795000.0,0.0,0.0,0.0,0.0,0.0,...,,Sơ mi dài tay size số,Sơ mi dài tay size số,,,SRMB,KSR,DQMB,NaN,NaN
60769,1uz884XB70g9JDXdjdc0OSTfDej,2020-01-12 16:39:28,595000.0,595000.0,595000.0,0.0,0.0,0.0,0.0,0.0,...,,Sơ mi dài tay size số,Sơ mi dài tay size số,,,SRMN,KSR,DQMN,NaN,NaN
60770,1uz887gO8GjGNr8gQzQFFEChaWn,2020-01-12 16:39:28,3950000.0,3950000.0,3950000.0,0.0,0.0,0.0,0.0,0.0,...,,Suits,Suits,,,SRMN,KSR,DQMN,NaN,NaN

In [ ]:
#write file
#save file RFM_1 , transaction_!_20, transaction_1_20_merge

# Clean data nếu được yêu cầu

In [ ]:
#create funtion to check type. (Bước nnày phục vụ cho powerBi, nếu import trực tiếp không qua bước này thì powerBi sẽ bị lỗi hiển thị sai)
def check(df):
    df = df.fillna(0) #fill value 0 in Nan value
    for col in df.select_dtypes(include=[np.float]):#check type of columnn. (nếu type là float thì covert to int)  
        if col == 'gender':
            df[col] = df[col]
        else:
            df[col] = df[col].astype('int')
    return df

In [ ]:
#convert type and remove so luong <0 ,tien kh nop < 0 , so luonng < 0 
for file,new in zip(transaction,transaction_new):
    data = pd.read_csv(f'{file}.txt',sep = '\t',encoding = 'utf-8')
    data = data.drop(data[data['so_luong'] <0].index) #drop so luong < 0 (trả hàng)
    data = data.drop(data[data['tien_kh_nop'] <0].index) # không hiểu trả hàng xong vẫn lại có tiền khách hàng <0 remove
    data = data.drop(data[data['tien_ck_voucher'] <0].index) #sau khi remove 2 trường trên thì chỉ còn lại khách hàng có tiền voucher <0 thì remove
    data = check(data) #convert type of colums is float to int
    open(f'{new}.txt','w',encoding ='utf-8') #create new file
    data.to_csv(f'{new}.txt',header=True, index=None, sep='\t', mode='w',encoding ='utf-8') #write file